

Write your nick in the first line, password in the second line. I shouldn't even be providing this file, it's just to avoid publishing credentials for my test account.
Copy this file to "CREDENTIALS".
