


Write your nick in the first line, password in the second line, comma-separated masters list in the third line.
I shouldn't even be providing this file, it's just to avoid publishing credentials for my test account.
And it's only used for the examples anyway. Make something more robust yourself. Please do not use this.
Copy this file to "CREDENTIALS".
